%div{ :class => type, 'data-index' => index }
  %input{:type => "hidden", :name => "#{prefix}[type]", :value => basic_field.type}
  
  .drag= image_tag "wheelhouse-forms/#{icon}.png", :alt => description, :title => description
  
  %input{:type => "text", :name => "#{prefix}[label]", :title => "#{description} Label", :placeholder => "#{description} Label", :value => basic_field.label}
  
  %label.required
    %input{:type => "checkbox", :name => "#{prefix}[required]", :value => "1", :checked => basic_field.required?}
    This field is required

  - if basic_field.respond_to?(:validate_as_email_address)
    %label.email_address
      %input{:type => "checkbox", :name => "#{prefix}[validate_as_email_address]", :value => "1", :checked => basic_field.validate_as_email_address?}
      Validate as email address
  
  = link_to "Delete", '#', :class => 'delete'
